.about {
  height: 100vh;
  display: flex;
  align-items: center;
}
/* about left */
.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.a-card.bg {
  position: absolute;
  top: 60px;
  left: 60px;
  background-color: rgb(69, 56, 187);
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* about right */
.about-right {
  flex: 1.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a-title {
  font-weight: 700;
  color: floralwhite;
}

.a-sub {
  margin: 20px 0px;
  font-size: 20px;
  color: tomato;
  font-weight: 500;
}

.a-desc {
  font-weight: 300;
  font-size: 20px;
}
.icon-container {
  padding: 20px 0;
  font-size: 30px;
}
i {
  color: tomato;
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  .about-left {
    width: 100%;
  }
  .a-card {
    height: 30vh;
  }
  .a-card.bg {
    display: none;
  }
  .about-right {
    padding: 20px;
    margin: 5px;
  }
}
